<div id="sliderwrap">
 

  
    <div class="fotorama">
      <div data-img="/assets/1.png">
        <div class="caption">
         <div class="row">
           <div class="col-md-5 col-md-offset-1 text-center">
             <h1>Коррекция бровей</h1>
             <p class="pull-left">
               <a href="#", class="btn btn-default">Подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
             </p>
           </div>
         </div>
          
        </div>
      </div>
      <div data-img="/assets/2.png">Two</div>
      <div data-img="/assets/3.png">Three</div>
      
    </div>
</div>
