<div id="sliderwrap">
 

  
    <div class="fotorama">
      <div data-img="/assets/1.png">
        <div class="caption">
         <div class="row">
           <div class="col-md-5 col-md-offset-1 text-center">
             <h1>Коррекция бровей</h1>
             <p class="pull-left">
               <a href="#", class="btn btn-default">Подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
             </p>
           </div>
         </div>
          
        </div>
      </div>
      <div data-img="/assets/2.png">Two</div>
      <div data-img="/assets/3.png">Three</div>
      
    </div>
</div>
<div id="aboutwrap">
 <div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag '/assets/kosmetolog.jpg',class: 'img-responsive' %>
    </div>
    <div class="col-md-6">
      <p>В довоенные годы совершил ряд первых восхождений на несколько вершин на Тянь-Шане и Памире. Во время Великой Отечественной войны в группе военных топографов совершил детальное изучение и уточнение высоты и местоположения второй по высоте вершины в СССР пика Победы. За эти исследования и открытия в 1947 году был награждён золотой медалью им. П. П. Семёнова-Тян-Шанского. В 1950 году руководил первым восхождением узбекских альпинистов на пик Ленина, которое стало самым массовым восхождением высотного альпинизма в истории и заняло первое место на чемпионате СССР по альпинизму 1950 года.</p>
      <p>Джон Юинг Рихтер родился в Нью-Брансуике (штат Нью-Джерси). Ещё в детстве мальчика его родители развелись, Джон был отдан на воспитание в школу-интернат. После его окончания поступил в первую школу танца модерн в Америке, так называемую школу Денишоун под руководством Рут Сен-Дэни и Теда Шона, который особо отмечал дарование Джона. Первый профессиональный выход Рихтера состоялся в августе 1930 года. Большое влияние на его хореографию и костюмы оказывал восточный колорит, характерный для школы Денишоун.</p>
    </div>
  </div>
   
 </div>
  
</div>
<div id="serviceswrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Услуги</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <%= image_tag '/assets/1.png',class: 'img-responsive' %>
        <h3>Коррекция бровей</h3>
      </div>
      <div class="col-md-4">
        <%= image_tag '/assets/2.png',class: 'img-responsive' %>
        <h3>Чистка лица</h3>
      </div>
      <div class="col-md-4">
        <%= image_tag '/assets/3.png',class: 'img-responsive' %>
        <h3>Контурная пластика лица</h3>
      </div>
    </div>
  </div>
</div>
