<div id="sliderwrap">
 

  
    <div class="fotorama">
      <%= image_tag '/assets/1.png',class: 'fotorama-img'%>
      <%= image_tag '/assets/2.png',class: 'fotorama-img'%>
      <%= image_tag '/assets/3.png',class: 'fotorama-img'%>
    </div>
</div>
